@model IEnumerable<crud_registration_web_system.Models.PowerPlant>

@{
    ViewData["Title"] = "Listagem de Usinas de Geração Distribuída";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumerUnit)
            </td>
            <td>
                <label class="switch">
                    @Html.DisplayFor(modelItem => item.Active)
                    <div class="slider round">
                    </div>
                </label>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <!--<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> | -->
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
